{% extends "core/base.html" %}

{% block title %}Add Lead{% endblock %}

{% block content %}
<h3 class="font-bold mt-4">Add Lead</h3>
<div class="row">
    <div class="col-md-4 my-3">
        <a href="{% url 'add_lead' %}" class="text-dark text-decoration-none">
            <div class="bg-light border add-lead-card d-flex align-items-center justify-content-center p-4 rounded-5">
                <div class="d-flex align-items-center">
                    <h5 class="p-0 m-0"> Add Leads</h5>
                    <i class="material-icons ms-3 text-secondary">add_circle</i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 my-3">
        <a href="{% url 'leads_list' %}" class="text-dark text-decoration-none">
            <div class="bg-light border add-lead-card d-flex align-items-center justify-content-center p-4 rounded-5">
                <div class="d-flex align-items-center">
                    <h5 class="p-0 m-0"> Display Leads</h5>
                    <i class="material-icons ms-3 text-secondary">view_list</i>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4 my-3">
        <a href="{% url 'add_lead' %}" class="text-dark text-decoration-none">
            <div class="bg-light border add-lead-card d-flex align-items-center justify-content-center p-4 rounded-5">
                <div class="d-flex align-items-center">
                    <h5 class="p-0 m-0"> Manage Leads</h5>
                    <i class="material-icons ms-3 text-secondary">edit_note</i>
                </div>
            </div>
        </a>
    </div>
</div>


{% endblock %}